body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color:rgb(57, 57, 57);


}

.bgImg {
  position: relative;
  overflow: hidden;
  display: contents;
}
.bgImg h1 h2 .searchBar #submitbutton #input {
    position: relative;
    z-index: 2;
}

.bgImg img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    color: #F0E7D8;
    font-family: 'Oswald', sans-serif;
}


h2 {
    color: #F0E7D8;
    font-family: 'Oswald', sans-serif;
}


p {
    font-size: 25px;
    color: black;
    padding: 5px;
    width: fit-content;
    
}



@keyframes slidein {
    from {
        transform: translateX(-2000px);
    }
    to {
        transform: translateX(10px);
    }
}


.para {
    animation-name: slidein;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    border-radius: 10px;
    border-top-left-radius: 0px;
    padding: 12px;
    background-color: #A63A50;
}




.searchBar {
   position: relative;
    display: flex;
    justify-content: center;
    min-width: 100px;
    
    
}

#submitButton {
    padding: 5px;
    border-radius: 10px;
    border: 1px grey;
    font-size: 20px;
    background-image: linear-gradient(to bottom right, #F0E7D8, #A63A50);
    cursor: pointer;
    
}

#input {
    padding: 5px;
    font-size: 24px;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 20px;
    background-color: lightgray;
    
}


