body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color:rgb(152, 208, 208);
    background-image: url(Media/funnyWorld_wallpaper.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


h1 {
    color: aqua;
}


h2 {
    color: aqua;
}


p {
    font-size: 30px;
    color: aqua;
    padding: 10px;
}

.para {
    transition: all 2000ms ease;
    transform: translateY(100%) rotate(360deg);
}

.searchBar {
   position: relative;
    display: flex;
    justify-content: center;
    min-width: 100px;
    
    
}

#submitButton {
    padding: 5px;
    border-radius: 10px;
    border: 1px grey;
    font-size: 20px;
    background-image: linear-gradient(to bottom right, aqua, blue);
     
}

#input {
    padding: 5px;
    font-size: 24px;
    border: 1px solid grey;
    border-radius: 10px;
    
}
